
<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <a class="navbar-brand" href="/"  class="btn btn-outline-success my-2 my-sm-0" >HOME</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a  routerLink="blog" class="btn btn-primary active" role="button" routerLinkActive="active">Blog List<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a routerLink="create-blog" class="btn btn-primary active" role="button" routerLinkActive="active">Create Blog</a>
      </li>
      <li class="nav-item">
        <a routerLink="search" class="btn btn-primary active" role="button" routerLinkActive="active">Search</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
