<form [formGroup]="blogForm" (ngSubmit)="onSubmit()">
  <div>
    <label>
      Create Blog
      <br>
      <input type="text" formControlName="title" class="form-control">
    </label>
  </div>
  <div *ngIf="blogForm.get('title').invalid && blogForm.get('title').touched" style="color: red">
    Title is required and min length is 10
  </div>
  <div >
    <label>
      <h3>Completed</h3>
      <br>
      <input type="radio" formControlName="completed"   value="TRUE"  >True
      <input type="radio" formControlName="completed"     value="False"  >False
    </label>
  </div>
  <button type="submit" class="btn btn-success">ADD</button>
</form>
